@import '../variables';
@import '../mixins';
@import '../sections/hero';



#page {
  @include grid;
  width: 100%;  
}

.home {
  .hero {
    @include hero;
  }

  .program {
    @include nested-grid;
    width: 100vw;
    background: linear-gradient(transparentize($black, .02), transparentize($black, .02)), url('../../wave-square.svg');
    background-size: 2.4rem 2.4rem;
    color: $white;
    // gap: 2.4rem;
    

    .sectionHeading {
      @include grid-item;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .6rem;
      margin: 3rem 0;
      &::after {
        content: "";
        height: .6rem;
        width: 2.4rem;
        border-bottom: 1px solid $primary-color;
      }

      @media screen and (min-width: 768px) {
        font-size: 3rem;
        &::after {
        width: 4.8rem;
      }
      }
    }

    .badges {
      @include grid-item;
      display: flex;
      gap: 1.2rem;
      flex-wrap: wrap;
      margin-bottom: 3rem;
      // justify-content: center;
      // padding: 2.4rem 0;
      
      .badge {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 1.2rem;
        padding: 1.2rem;
        background-color: transparentize($white, .9);
        width: 100%;


        svg {
          fill: $white;
          filter: drop-shadow(2px 2px 0 $primary-color);
          width: 7.5%;
          // flex: 1;
          // max-width: 3rem;

        }

      h6 {
            color: $primary-color;
            font-size: 1.5rem;
            // white-space: nowrap;
            width: 20%;
            // text-align: center;
            padding: 0 2.4rem 0 .9rem;
          }

        p {
          // color: $grey;
          // flex: 1;
          font-size: 1.2rem;
          // line-height: 1.6rem;
          flex: 1;
          
          
        }

      }

      @media screen and (min-width: 768px) {
        gap: .6rem;
        // flex-wrap: wrap;
        justify-content: center;
        // padding: 2.4rem 0;
        
        .badge {
          flex: 1;
          display: flex;
          flex-direction: column;
          min-width: 20rem;
          max-width: 20%;
          align-items: center;
          gap: 2.4rem;
          padding: 2.4rem 1.2rem;


          svg {
            fill: $white;
            filter: drop-shadow(2px 2px 0 $primary-color);
            height: 4.2rem;
            width: 4.2rem;
          }

          h6 {
            color: $primary-color;
            font-size: 2.4rem;
            // white-space: nowrap;
            width: 100%;
            text-align: center;
            min-width: 25%;
            padding: 0;
          }

          p {
            color: $grey;
            flex: 1;
            font-size: 1.4rem;
            line-height: 1.6rem;
            text-align: center;
            font-weight: 600;
          }
        }
      }
    }

    .join {
      @include grid-item;
      margin-bottom: 3rem;
      padding: 3rem;
      color: $white;
      background-color: $primary-color;
      font-size: 2rem;
    }

    .also {
      @include grid-item;
      text-align: center;
      padding: 3rem;
      text-decoration: underline;
      display: none;
    }

    @media screen and (min-width: 768px) {
      padding: 3rem 0;

      .join {
        display: none;
      }

      .also {
        display: inline-block;
      }
    }
  }

  .featured {
    @include grid;

    .sectionHeading {
      @include grid-item;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .6rem;
      margin: 3rem 0;
      &::after {
        content: "";
        height: .6rem;
        width: 2.4rem;
        border-bottom: 1px solid $primary-color;
      }

      @media screen and (min-width: 768px) {
        font-size: 3rem;
        &::after {
        width: 4.8rem;
      }
      }
    }

    .cards {
      @include grid-item;
      display: flex;
      flex-wrap: wrap;
      gap: 2.4rem;
      justify-content: space-between;
      // display: none;

      
      .card {
        display: flex;
        gap: 1.2rem;
        align-items: center;
        height: fit-content;

        @media screen and (min-width: 768px) {
          max-width: 48%;
        }

        .portrait {
          position: relative;
          width: max-content;
          padding: 1.2rem 0 0 1.2rem;
          width: 30%;

          @media screen and (min-width: 768px) {
            width: 25%;
          }
          
          .checkers {
            fill: lighten($black, 5%);
            width: 10rem;
            clip-path: inset(2.07rem 3.56rem 2.56rem 1.05rem);
            position: absolute;
            top: -2rem;
            left: -1rem;
          }
          
          img {
            width: 100%;
            position: relative;
          }

        }
        
        .profile {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: .6rem;
          position: relative;

          h3 {
            color: $black;
            font-size: 1.4rem;
          }

          h5 {
            color: $primary-color;
            font-size: 1rem;
          }

          p::before {
            content: '';
            width: 2rem;
            border-bottom: 1.5px solid $grey;
            position: absolute;
            left: 0;
            top: -1.2rem;
          }

          p{
            font-size: 1rem;
            margin-top: 2rem;
            position: relative;
          }

          @media screen and (min-width: 768px) {
            h3 {
              font-size: 2rem;
            }

            h5 {
              font-size: 1.3rem;
            }

            p {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }

  footer {
    display: none;
  }
  
  .about {
    display: none;
  }
}

.about {
  .hero {
    @include hero;

    .checkers {
      border-radius: 5rem;
      fill: $primary-color;
      clip-path: circle(10px);
      left: 4.8rem;
      top: 2.4rem;
    }

    .headset {
      fill: $black;
      // position: relative;
      top: 7.5rem;
      left: auto;
      right: 10.5rem;
      transform: rotate(45deg);
      z-index: 2;
    }

    .card {
      padding-bottom: 3.6rem;
      h3 {
        text-align: center;
        padding-bottom: 1.2rem;
      }
  
      h1 {
        // text-align: center;
        width: 100%;
        color: $primary-color;
        z-index: 2;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .line3 {
          padding-left: .6rem;
          margin-bottom: 2.4rem;
        }
        
        @media screen and (min-width: 768px) {
          &::after {
            content: '';
            width: 3rem;
            height: 2.4rem;
            border-bottom: 1px solid $primary-color;
            margin:auto;
          }
        }
      }

      p {
        border: 2px solid $grey;
        background-color: $white;
        position: relative;
        transform-style: preserve-3d;
        text-align: center;

        .dial {
          left: 1.2rem;
        }

        .microphone-alt {
          top: -9.6rem;
          left: 0;
        }

        .record-vinyl {
          position: absolute;
          width: 4.8rem;
          top: -2.4rem;
          right: -2.4rem;
          transform: translateZ(-10px);
        }

      }

      .email {
        color: $black;
      }
      
    }
  }

  h5 {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .logo {
    @include nested-grid;
    border-bottom: 2px solid $grey;
    // position: static;

    .container {
      @include grid-item;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 2.4rem 0;

      .sectionHeading {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .6rem;
        font-size: 2.4rem;

        &::after {
          content: "";
          height: .6rem;
          width: 2.4rem;
          border-bottom: 1px solid $primary-color;
        }
      }
      
      h5 {
        text-align: center;
        padding: 1.2rem;
        color: $ash;
        // width: 5rem;
        // display: none;
      }

      .logoBox {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        font-size: 2.4rem;
        border: 2px solid $grey;
        justify-content: center;
        margin: 2.4rem 0;
        padding: 3rem;

        .logoText {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h6 {
            font-weight: 700;
            font-size: 2rem;
          }

          .red {
            color: $primary-color;
            }
          }

          svg {
            width: 5rem;
            fill: $ash;
            filter: drop-shadow(2px -1.5px 0 $primary-color);
          }
      }
      
        .concertBox1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.6rem;
          color: $white;
          font-size: 2.4rem;
          margin: 2.4rem 0;
          padding: 5rem 3rem;
          background: linear-gradient(transparentize($primary-color, .2), transparentize($primary-color, .2)), url('https://storage.googleapis.com/media.discodonniepresents.com/2022/06/f51f23e2-2022-0424-sanjuan-ventanadelmar-ren80studios-processed-087-400x225.jpg');
          background-size: cover;

          h6 {
            font-size: 1.4rem;
          }
        }

        .concertBox2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.6rem;
          color: $white;
          font-size: 2.4rem;
          margin: 2.4rem 0;
          padding: 5rem 3rem;
          background: linear-gradient(transparentize($primary-color, .2), transparentize($primary-color, .2)), url('https://www.criptonoticias.com/wp-content/uploads/2018/10/red-bull-chile-criptomonedas-cryptomarket.jpg');
          background-size: cover;

          h6 {
            font-size: 1.4rem;
          }
        }
      
    }
  }

  

  @media screen and (min-width: 768px) {
    .partners {
      display: none;
    }
  }

  .home {
    display: none;
  }
}

.partners {
    color: $white;
    background-color: $ash;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2.4rem;
      padding: 0;
      margin: 2.4rem 0;

      .thick {
        font-size: 3rem;
        font-weight: 900;
        color: $grey;
      }

      .grey {
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        color: gray;
      }

      .light {
        font-size: 3rem;
        font-weight: 600;
        color: darken($grey, 10%);
      }

      .bold, .bolder {
        font-size: 1.6rem;
        color: gray;
        font-weight: 600;
      }

      .bolder {
        font-size: 1.8rem;
      }
    }
  }

  footer {
    .container {
      @include grid-item;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.4rem;
      padding: 1.5rem 3rem;

      .logoBox {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        font-size: 1.2rem;
        justify-content: center;
        margin: 2.4rem 0;

        .logoText {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h6 {
            font-weight: 700;
            font-size: 1rem;
          }
        }

        svg {
          width: 2.5rem;
          fill: $ash;
        }
      }
    }

    @media screen and (min-width: 768px) {
      color: $grey-light;
      background-color: $ash;
      .container {
        background-color: $ash;
        padding: 3rem;
        font-size: 1.8rem;
        .logoBox {
          font-size: 2rem;
          .logoText {
            h6 {
              font-size: 1.7rem;
            }
          }
          svg {
            width: 4rem;
            fill: $grey-light;
          }
        }
      }
      
    }
  }